<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SPTExtract.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <appSettings>
        <add key="BaseUrl" value="https://api.xero.com"/>
        <add key="ConsumerKey" value="DTNKIQOEFS3J727HTIFNT2PMWXVSJN"/>
        <add key="ConsumerSecret" value="8FKDGBFYXB3WPJRFOMWPWYLRKGPXCY"/>
        <add key="CallbackUrl" value="oob"/>
        <add key="SigningCertificate" value=""/>
        <add key="SigningCertificatePassword" value="jc8237cj"/>
      </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
    <userSettings>
        <SPTExtract.Properties.Settings>
            <setting name="supplierNumber" serializeAs="String">
                <value />
            </setting>
            <setting name="buyerNumber" serializeAs="String">
                <value />
            </setting>
            <setting name="folder" serializeAs="String">
                <value />
            </setting>
            <setting name="contactId" serializeAs="String">
                <value />
            </setting>
        </SPTExtract.Properties.Settings>
    </userSettings>
</configuration>
